body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 200% 200%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.centered {
  text-align: center;
  position: relative;
  top: 20px;
}

.center {
  text-align: center;
  border-bottom: 1px solid white;
  margin-bottom: 3px;
}
.generations {
  font-size: 2rem;
}

.white {
  color: white;
}

.flex-cols {
  display: flex;
  margin: 5px auto;
  
}
.toggles {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    margin: -0% 2% 2% 2%;
  }
.rules {
  width: 20%;
}

button {
  width: 100px;
  /* height: 40px; */
  padding: 9.5px;
  background-color: rgba(255, 153, 0, 0.692);
  color: black;
  
}
button.controls {
  padding: 5px;
}