body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.white {
  color: white;
}

.flex-cols {
  display: flex;
  
}
.toggles {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    margin: -0% 2% 2% 2%;
  }
.rules {
  width: 20%;
}

button {
  width: 100px;
  height: 50px;
  padding: 5px;
  background-color: yellow;
  color: black;
  
}
button.controls {
  padding: 5px;
}